@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #838383;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b; /* Color of the scrollbar handle on hover */
}

.ant-pagination-custom .ant-pagination-item {
  @apply items-center justify-center w-8 h-8 border border-blue-500;
}

.ant-pagination-custom .ant-pagination-item a {
  @apply text-blue-500;
}

